*{
    margin: 0%;
    padding: 0%;
    /* background-color: #EBFAFF !important; */
}
.nav-bar{
    padding: 1rem 1em 1em 1em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 15px;
    background-color: #EBFAFF !important;
}
.home-list ul{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
}
.home-list li{
    list-style: none;
    margin-left: 30px;
    cursor: pointer;
}
.home-list li a:hover{
    color: #007EF3;
}
.home-list li a{
    text-decoration: none;
    color: black;
}
.button{
    align-content: center;
    align-items: center;
}
.button button{
    background-color: #007EF3;
    border: none;
    color: white;
    border-radius: 40px 40px 40px 40px;
    padding: 5px 40px;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 100px ;
    cursor: pointer;
}
.button button:hover{
    color:#007EF3;
    background-color: white;
    border: 1px solid #007EF3;
    font-weight: 500;
}
.button img{
    cursor: pointer;
}

/* ------Meet the tutor css------ */
.meet-the-tutor{
   background-color: #EBFAFF;
   padding: 2rem 4rem 2rem 4rem;
    display: flex;
}
.meet-the-tutor-heading{
    margin: 8rem 16rem 1rem;

}
.meet-the-tutor-heading h1{
    color: rgb(54, 91, 133);
    font-family: "Nunito Sans", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
}
.meet-the-tutor-dropdown{
    margin: 0rem 16rem;
    font-size: 30px;
    font-weight: bolder;
}
.meet-the-tutor-dropdown select{
    padding: 10px 20px;
    margin: 0rem 0rem 1rem;
    border-radius: 18px;
    background-color: #EBFAFF;
    color: #274b66;
    font-weight: bold;
    border-width: 2px;
    font-size: 18px;
}
.meet-the-tutor-dropdown label{
    font-size: 25px;
    font-weight: bolder;
}
.filter-button{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    text-decoration: none;
    border-radius: 16px;
    padding: 10px 28px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #0368FF;
    border: 1px solid #0368FF;
    font-weight: bolder;

}
.filter-button:hover{
    color: rgb(230, 182, 63);
    background-color:rgb(206, 54, 31) ;
    border: 1px solid rgb(206, 54, 31);
}

/* ------- teachers data section------- */

/* Filtered data copied from angular project */
.info{
    background-color: #EBFAFF;
    padding: 5rem 3rem 2rem;
}

.container {
    display: flex;
    padding: 20px 0px;
  }
  
  .left-section {
    flex: 1;
    padding-left: 10px;
    align-items: center;
    text-align: center;
  }
  
  .card {
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-color: white;
    border-radius: 20px;
    padding: 10px 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .card img {
    height: 15rem;
    width: 24rem;
    margin-right: 30px;
    border-radius: 20px;
  }
  .info-right{
    font-size: 20px;
    text-align: left;
    margin-left: -100px;
    margin-top: 50px;
    /* background-image: url(https://www.kindpng.com/picc/m/2-26383_transparent-building-clipart-png-building-black-and-white.png); */

  }
  #lang-text{
    font-weight:bolder;
    font-size:30px;
    color: brown;
  }
  .right-section {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px 2px;
  }
  .right-section iframe{
    height: 17rem;
    width: 24rem;
    border-radius: 20px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  }

.right-section button{
    font-size: 13px;
    /* margin-left: 3rem; */
    padding: 10px 20px;
    background-color: rgb(53, 53, 138);
    color: rgb(230, 226, 226);
    border-radius: 20px;
    border:none;
    cursor: pointer;
}
.right-section button:hover{
    color: rgb(53, 53, 138);
    background-color: #EBFAFF;
    border: 1px solid rgb(53, 53, 138);
}

/* footer section */
footer{
	background: #2F327D;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.footer-nav{
	padding: 1% 4% 1%;
}
.footer-nav ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
.footer-nav ul li a{
	color: white;
	text-decoration: none;
	margin: 20px;
	font-size: 16px;
	opacity: 0.6;
}

/* for the copyright section of the footer */
#copyright{
	margin-left: 4%;
	color: white;
	font-size: 1em;
	opacity: 0.6;
	width: 15%;
}


/* hover for the footer section */
.footer-nav ul li a:hover{
	color: white;
	opacity: 1;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5% 0 1%;
}

.footer-icons a {
    color: white;
    text-decoration: none;
    margin: 0 1%;
    font-size: 20px;
    opacity: 0.3;

}

.footer-icons a:hover {
    color: white;
    opacity: 1;
}

/* footer section ends */
